
.header {
  width: 100%;

  &__top-menu {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    &:before{
      background-color: #3B3B3B;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 2;
    }
    &--list{
      max-width: 1200px;
      position: relative;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__logo {
    display:flex;
    position: relative;
    z-index: 3;
    padding-right: 10px;
    &__img {
      background: url("../img/header/header_logo.png") no-repeat center;
      width: 43px;
      height: 41px;
    }
    &:hover .header__logo__img{
      background: url("../img/header/header_logo-hover 1.png");
    }

    &__text{
      display: none;
    }
  }

  &__button {
    background: $main-color-light;
    border-radius: 40px;
    border: 1px solid $main-color-light;
    padding: 11px 30px;
    cursor: pointer;
    position: relative;
    z-index: 3;

    & > span {
      @include titleFontStyle(16px, 17px, $text-white);
    }

    &:hover > span {
      color: $main-color-light;
    }

    &:hover {
      background: #FFFFFF;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #333333;
    &__item{
          text-align:left;
          padding:25px 40px;
          border:1px solid #3B3B3B;
          list-style-type: none;
          &:focus, &:active{
            border-left: 10px solid $main-color-light;
          }
      & > a {
        @include headerFontStyleRegular (21px, 21px, $text-white);
        &:focus, &:active{
          color: $main-color-light;
        }
      }

    }
    &--disable{
      display: none;
    }
  }

  &__burger-menu.active{
    &:before{
      display: block;

    }
      &:after{
        transform: none;
        top: 18px;
      }

    & > span{
      transform: none;
    }
  }

  &__burger-menu{
  display: block;
  position: relative;
  width: 30px;
  height: 21px;
  z-index: 3;
  &:before {
    content: "";
    background-color: #FFFFFF;
    position: absolute;
    width: 50%;
    height: 3px;
    right: 0;
    top: 0;
    transition: all 0.2s ease 0s;
  }
    &:after{
      content: "";
      background-color: #FFFFFF;
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      transition: all 0.2s ease 0s;

    }

    & > span{
      position: absolute;
      background-color: #FFFFFF;
      left: 0;
      width: 100%;
      height: 3px;
      top: 9px;
      transition: all 0.2s ease 0s;
    }
}


  &__burger-menu{
    &:before{
      display: none;
    }
      &:after{
        transform: rotate(-45deg);
        top: 9px;
      }

    & > span{
      transform: rotate(45deg);
    }
  }


  &__main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 10px 400px;
    background: url(../img/header/header_background.png) no-repeat center;
    background-size: cover;

    &__title {
      @include titleFontStyle(48px, 48px, $text-white);
    }
    &__description {
      @include headerFontStyleRegular(18px, 28px, $main-color-light);
      padding: 20px 0 15px;
      text-transform: capitalize;
      display: inline-block;
      text-align: center;
    }
    &__version {
      @include headerFontStyleRegular(14px, 14px, $text-light);
    }
  }
  &__download-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -22px;

    &:hover > button{
      background: #FFFFFF;
    }
    & > button{
      @include buttonsForHeader;
      &:hover > span{
        color: $main-color-light;
      }
      & > span{
        @include titleFontStyle (18px, 20px, $text-white);
      }
    }
    & > p {
      @include headerFontStyleRegular(14px, 15px, $text-light);
      padding-top: 12px;
    }
  }

}



@media (min-width:481px) {
  .header{

    &__top-menu{
      padding: 10px 0;
      &--list {
      flex-wrap: wrap;

      & > nav {
        order: 3;
        width: 100%;
      }
    }
    }
    &__menu {
      flex-direction: row;
      position: relative;
      justify-content: space-evenly;
      background: #3B3B3B;
      align-items: center;
      padding: 20px 10px;
      top: 0;
      &__item{
        padding: 0;
        &:focus, &:active{
          border-left: none;
        }
      }

      &--disable{
        display: flex;
      }
        & > li > a{
          @include titleFontStyle(16px, 17px, $main-color-light);
            &:hover{
              color: $text-white;
            }
        }
    }
    &__logo{
      display:flex;
      align-items:center;
      text-decoration:none;
      &__text{
        @include titleFontStyle (24px, 16px, $main-color-light);
        display: block;
        text-transform: uppercase;
        margin-left: 15px;
      }
      &:hover .header__logo__text{
        color: $text-white;
      }
    }

    &__burger-menu{
      display: none;
      &.active{
        display: none;
      }
    }

    &__main-content__title{
      @include text-properties (72px, 72px);
    }
    &__main-content__description {
      @include text-properties (24px, 24px);
      text-transform: none;
    }
    &__download-button > button > span{
      @include text-properties (21px, 23px);
    }
  }
}

@media (min-width:993px) {
  .header{
    &__top-menu{
      display: flex;
      justify-content: center;
      padding: 25px 90px;
      &:before {
        background: #000000;
      }
    }

    &__menu{
      z-index: 2;
      display: flex;
      justify-content: flex-end;
      background: black;
      top: -30px;
      padding-top: 0;
      padding-right: 150px;

        & > li{
          padding-left: 40px;
        }

      &__item{
        border: none;
        & > a{
        @include titleFontStyle (16px, 18px, $main-color-light);
          &:hover{
            color: $text-white;
          }
        }
      }
    }

    &__main-content__title {
      @include text-properties(82px, 82px);
    }

    &__main-content__description {
      @include text-properties(30px, 30px);
      text-transform: none;
    }

    &__main-content__version {
      @include text-properties(16px, 16px);
    }
  }
}


