@mixin titleFontStyle ($font-size, $line-height, $color){
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: $font-size;
  line-height: $line-height;
  color: $color
}

@mixin headerFontStyleRegular ($font-size, $line-height, $color){
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
  color: $color
}

@mixin textFontStyle ($font-size, $line-height, $color){
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
  color: $color
}

@mixin textFontStyleBold ($font-size, $line-height, $color){
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: $font-size;
  line-height: $line-height;
  color: $color
}

@mixin revolutionaryEditorBtn ($left-part, $right-part){
  border: 1px solid $main-color-light;
  border-top-left-radius: $left-part;
  border-bottom-left-radius: $left-part;
  border-top-right-radius: $right-part;
  border-bottom-right-radius: $right-part;
  padding: 3px 12px;
}
@mixin text-properties ($font-size, $line-height){
  font-size: $font-size;
  line-height: $line-height;
}

@mixin flex-center{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin pricingFontStyle ($font-size, $line-height){
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-on-dark-background;
  text-transform: uppercase;
}

@mixin grid-center{
  display: grid;
  align-items: center;
}

@mixin buttonsForHeader{
  background: $main-color-light;
  border-radius: 40px;
  border: 1px solid $main-color-light;
  padding: 11px 30px;
  cursor: pointer;
}