

.reviews{
  @include flex-center;
  width: 100%;
  text-align:center;
  background: url("../img/reviews-section/backgraund_mobile.jpg") center;
  background-size: cover;
  &__wrapper{
    padding: 100px 10px 15px;
    max-width: 1200px;
  }


  &__title{
    @include titleFontStyle (36px, 50px, #FFFFFF);
    text-align: center;
  }

  &__content{
    @include  textFontStyleBold (16px, 24px, #FFFFFF);
    font-style: italic;
    @include flex-center;
    flex-wrap: wrap;
    justify-content: space-around;
    grid-gap: 0;
    padding-top: 80px;
  }

  &__information{
    &-text{
      padding: 30px 0 40px 0;
    }
  }

  &__details{
    @include textFontStyle (14px, 21px, $main-color-middle);
    max-width:880px;
    margin: 0 auto;
    &:after {
      content: '';
      display: block;
      height: 1px;
      background: #645766;
      width: 100%;
      margin: 20px auto 0;
    }
  }
}

@media (min-width: 481px) {
  .reviews {
    &__title {
      font-size: 42px;
    }

    &__content {
      @include grid-center;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: repeat(3,1fr);
      grid-gap: 0 80px;
    }

    &__information {
      @include flex-center;

    }
    &__details{
      &:after {
        width: 80%;
      }
    }
  }

}

@media (min-width: 993px) {
  .reviews{
    &__title{
      font-size:42px;
    }
    &__content {
      @include textFontStyleBold (16px, 24px, #FFFFFF);
      font-style: italic;
      @include grid-center;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2,1fr);
      grid-gap: 60px 110px;
      padding: 80px;

    }
    &__details{
      &:after {
        width: 90%;
      }
    }
  }
}

