.revolutionary-section{
  width: 100%;
  margin: 0 auto;
  @include flex-center;
  &--wrapper{
    max-width: 1200px;
    width: 100%;
    padding: 60px 10px 88px;
    @include flex-center;
  }
  &__title{
    @include titleFontStyle (26px, 28px, $main-color-dark);
    text-transform: uppercase;
    padding-bottom: 27px;
    text-align: center;
  }
  &__text{
    @include textFontStyle (14px, 20px, $text-dark);
    padding-bottom: 36px;
    text-align: center;
    width: 95%;
  }
  &__btn-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 93%;
    &__btn-wrapper{
      display: flex;
      &__btn{
        @include revolutionaryEditorBtn (5px, 0);
        @include titleFontStyle(12px, 20px, $text-dark);
        display: flex;
        align-items: center;
        background-color: #E5E5E5;
        cursor: pointer;
        & svg{
          fill: $dark-color;
          padding-right: 5px;
          width: auto;
        }
      }
      &__text{
        @include revolutionaryEditorBtn (0, 5px);
        border-left :none;
        @include titleFontStyle(12px, 20px, $text-dark)
      }
    }
  }
}

@media (min-width: 481px){
  .revolutionary-section{
    //max-width: 95%;
    &__title{
      @include text-properties (42px, 42px);
    }
    &__text{
      @include text-properties (21px, 32px);
      width: 90%;
    }
    &__btn-section{
      max-width: 100%;
    }
  }
}
@media (min-width: 993px){
  .revolutionary-section{
    &__title{
      @include text-properties (54px, 54px);
    }
    &__text{
      @include text-properties (21px, 31px);
      width: 75%;
    }
  }
}
