.features-section{
  width: 100%;
  margin: 0 auto;
  @include flex-center;
  &--wrapper{
    padding: 32px 10px 0;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    overflow: hidden;
  }
  &__title-wrap{
    width: 100%;
    text-align: center;
    &__title{
      @include titleFontStyle(32px, 38px, $main-color-light);
    }
  }
  &__icon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 37px;
    padding-bottom: 20px;
  }
  &__text-wrapper{
    align-items: center;
    text-align: center;
    &__subtitle{
      @include titleFontStyle(16px, 16px, $text-dark);
      font-weight: 400;
      padding-bottom: 15px;
    }
    &__text{
      @include textFontStyle(14px, 21px, $text-light);
    }
  }
  &__image{
    height: auto;
    overflow: hidden;
  }
}

@media (min-width: 481px) {
  .features-section{
    &--wrapper{
      grid-template-columns: 25% 75%;
      row-gap: 55px;
    }
    &__title-wrap{
      grid-column: span 2;
      &__title{
        @include text-properties(42px, 44px);
      }
    }
    &__icon{
      padding: 0;
    }
    &__text-wrapper{
      text-align: start;
      &__subtitle{
        line-height: 21px;
      }
    }
    &__image{
      padding-left: 68px;
      grid-column: span 2;
      width: 100%;
      margin-left: 10px;
      & img{
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (min-width: 993px) {
  .features-section{
    background: #F4F4F4;
    text-align: center;
    &--wrapper{
      max-width: 1200px;
      padding-top: 100px;
      grid-template-columns: 12% 28% 60%;
      row-gap: 33px;
      grid-auto-flow: dense;
      justify-items: start;
    }
    &__title-wrap{
      grid-column: 3/4;
      &__title{
        @include text-properties(48px, 50px);
        text-align: center;
        padding-left: 15px;
      }
    }
    &__text-wrapper{
      &__subtitle{
        line-height: 21px;
      }
    }
    &__image{
      height: 100%;
      padding: 0;
      margin-top:-50px;
      grid-column: 3 /4;
      grid-row: 2 / span 5;
    }
  }
}